[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic = "*"
pydantic-settings = "*"
requests = "*"
mongoengine = "*"
uvicorn = "*"
loguru = "*"

[dev-packages]
pre-commit = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.9"

[scripts]
server = "uvicorn app.main:app --reload"
unittests = "pytest -s -vv --capture=no --log-cli-level=INFO --failed-first -x --cov-report term-missing --cov=. tests"
